@{
    ViewData["Title"] = "Контакты";
}
<div class="text-center">
    <h1>Контакты</h1>
    <p>По всем вопросам обращаться к <a href="https://vk.com/id19952022" target="_blank">Darya Lukina</a> </p>
    <br/>
    <p><a href="https://vk.com/hurmamusic" target="_blank"><i class="fab fa-vk mr-2"></i>ВКонтакте</a></p>
    <p><a href="https://www.instagram.com/hurmamusic/" target="_blank"><i class="fab fa-instagram mr-2"></i>Instagram</a></p>
    <p><a href="https://hurmamusic.bandcamp.com/" target="_blank"><i class="fab fa-bandcamp mr-2"></i>Bandcamp</a></p>
</div>


@*<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
</div>*@