@{
    ViewData["Title"] = "Официальный сайт группы Х У Р М А";
}

    <div class="text-center">
        <div class="text-center">
            <img width="80%" src="img/hurma - susaniny.jpg" class="rounded" alt="Группа ХУРМА обложка сингла Сусанины">
        </div>
        <br />
        <p>Слушайте новый релиз "Сусанины"!</p>


        <audio controls="controls">
            <source src="~/sounds/%d0%a5%20%d0%a3%20%d0%a0%20%d0%9c%20%d0%90%20-%20%d0%a1%d1%83%d1%81%d0%b0%d0%bd%d0%b8%d0%bd%d1%8b.mp3" type="audio/mpeg" />
        </audio>

        <hr />
        <br />

        <div class="text-center">
            <img width="80%" src="img/hurma - chandelier.jpg" class="rounded" alt="Группа ХУРМА обложка сингла Люстра">
        </div>
        <br />
        <p>Слушайте новый релиз "Люстра"!</p>

    <audio controls="controls">
        <source src="~/sounds/%d0%a5%20%d0%a3%20%d0%a0%20%d0%9c%20%d0%90%20-%20%d0%9b%d1%8e%d1%81%d1%82%d1%80%d0%b0.mp3" type="audio/mpeg" />
    </audio>

    <hr />
    <br />

    <div class="text-center">
        <img width="80%" src="img/hurma - pablo.jpg" class="rounded" alt="Группа ХУРМА обложка сингла Пабло">
    </div>
    <br />

        <audio controls="controls">
            <source src="~/sounds/%d0%a5%20%d0%a3%20%d0%a0%20%d0%9c%20%d0%90%20-%20%d0%9f%d0%b0%d0%b1%d0%bb%d0%be.mp3" type="audio/mpeg" />
        </audio>

        <hr />
        <br />

    <p><a href="https://vk.com/hurmamusic" target="_blank"><i class="fab fa-vk mr-2"></i>ВКонтакте</a></p>
    <p><a href="https://www.instagram.com/hurmamusic/" target="_blank"><i class="fab fa-instagram mr-2"></i>Instagram</a></p>
    <p><a href="https://hurmamusic.bandcamp.com/" target="_blank"><i class="fab fa-bandcamp mr-2"></i>Bandcamp</a></p>
</div>
